#navbar > a:hover
{
    color: gold;
    transform: scale(1.3);
}
#box3 #btn:hover
{
    /* width: 50%; */
    background-color: lawngreen;
    transform: scale(0.9);
}
.contact-form button:hover
{
    background-color: rgb(27, 234, 61);
    transform: scale(0.9);
}