@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600&display=swap');

:root {
    --main-color: black;
    /* define a variable named --main-color and set its value to red */
    --gold-color: gold;
    --white-color: white;
}

*::-webkit-scrollbar {

    display: none;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;

}

body {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.head1 {
    background-color: var(--main-color);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;

}

.head1 li a {
    text-decoration: none;
    color: var(--gold-color);;
    font-weight: bold;
    font-size: 1.5em;


}

.head1 li {
    list-style: none;
   
    width: 250px;
    padding: 10px;
    text-align: center;
    border-radius: 20px;

    background:
        linear-gradient(rgba(6, 89, 85, 0.507), transparent),
        linear-gradient(to top left, rgb(33, 5, 110), transparent),
        linear-gradient(to top right, rgb(163, 12, 148), transparent);
    

}
#aboutme_btn
{
    background:
    linear-gradient(rgba(6, 89, 85, 0.507), transparent),
    linear-gradient(to top left, rgb(33, 5, 110), transparent),
    linear-gradient(to top right, rgb(163, 12, 148), transparent);
    color: var(--gold-color);
    padding: 10px;
    border-radius: 20px;
    border: 0px solid white;

}
.body1 {
    background-color: blueviolet;
    height: 100vh;
    overflow: scroll;
 
}

.A {
    background-color: var(--main-color);;
    height: 100vh;
    width: 100%;

}

#home {
    display: flex;
    justify-content: center;
    align-items: center;
}

#one {
    width: 30vw;
    padding: 10px;
   

    line-height: 40px;
    font-weight: bolder;
    font-size: 1.5em;
    color: var(--white-color);
}
#one h1
{
    font-size: 1.6em;
    
}

#one p {
    line-height: 25px;
    font-weight: bold;
    font-size: 0.8em;
    color: aqua;
}

#two {
   
    width: 250px;
}

#projects {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 10px;

}

#projects h1 {
    text-align: center;
    color: var(--gold-color);
    font-size: 2.5em;
    border-bottom: 1px solid var(--gold-color);
}

.card {
    width: 90%;
    height: 80%;
    background-color: var(--main-color);
   
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    overflow: scroll;
}
.cardanchor
{
    text-decoration: none;
}
.cardbtn
{
       
        margin-top: 20px;
        padding: 5px;
        border-radius: 20px;
        width: 100px;
        background:
            linear-gradient(rgb(248, 236, 4), transparent),
            linear-gradient(to top left, rgb(0, 126, 2), transparent),
            linear-gradient(to top right, green, transparent);
        float: left;
        border: solid black 0px;
        font-weight: bold;
}
#card1 {
    width: 220px;
    height: 250px;
 
    border: 1px solid rgb(241, 220, 220);
    border-radius: 20px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    
}
#card1 h3
{
    color: greenyellow;
}
#card1 div
{
    display: grid;
    grid-template-rows: 1fr 1fr;
    align-items: baseline;
    padding: 10px;

}

#card1
{
    padding: 0px 0px;
    color:  var(--gold-color);
}

#projects #card1 .cardimg {
    width: 220px;
    height: 150px;
  
    border-radius: 20px;
}

#technicalSkill {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 50px;

    color: var(--gold-color);
    border-bottom: solid 2px var(--gold-color);
    font-size: 2em;
}

.skillbox {
    border: 1px solid red;
    width: 60vw;
    padding: 10px;
}

#technicalSkill h1 {
   
    text-align: center;
    color: var(--gold-color);
    font-size: 1.5em;
    border-bottom: 1px solid var(--gold-color);


}

#technicalSkill h3 {
    font-weight: bold;
    color: var(--gold-color);
    font-size: 1em;


}

#technicalSkill span {

    font-size: 1.4rem;
    color: var(--white-color);
    line-height: 55px;
    padding: 10px;

}

#education {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--white-color);
    row-gap: 20px;
}

.grid {
   
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    overflow: scroll;
    gap: 40px;
}

.grid section {
    border: 1px solid red;
    height: 200px;
    width: 350px;

    padding: 20px;
    border-left: solid var(--gold-color) 3px;
    line-height: 35px;

}

#education h1 {
    font-weight: bold;
    border-bottom: solid var(--gold-color) 2px;
    color: var(--gold-color);
    font-size: 3em;


}

.grid span {
    color: var(--gold-color);
    font-size: 30px;
}

#certification {

    background-color: var(--main-color);
    height: 100vh;
    width: 100%;
    /* border: solid 2px red; */

    display: flex;
    justify-content: center;
    align-items: center;


    color: var(--gold-color);
    font-size: 2rem;
    line-height: 2em;
    flex-direction: column;
    row-gap: 20px;
}
#certification div
{
    padding: 20px;
    border: solid 2px red;
}
#certification h1 {
    font-size: 3rem;
    color: var(--gold-color);
    border-bottom: solid 2px var(--gold-color);

}

#certification p {
    color: var(--white-color);
}

#careerSkills {

    background-color: var(--main-color);
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--gold-color);

    line-height: 0.5em;
    row-gap: 10px;
}
#carbox
{
    padding: 0px 30px;
    border: solid 2px red;
}

#careerSkills h1 {
    text-align: center;
    padding: 20px;
    font-weight: bold;
    border-bottom: solid var(--gold-color) 2px;
    color: var(--gold-color);
    font-size: 3em;
}

#careerSkills ul {
   
    
    padding-left: 20px;
    padding-top: 20px;
    line-height: 2em;
    height: 75vh;
    justify-content: center;
    font-size: 2em;
    color: var(--white-color);
    width: 60vw;

}

#details {

    background-color: var(--main-color);
    height: 100vh;
    width: 100%;
    /* border: solid 2px red; */
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--gold-color);
    line-height: 30px;
    flex-direction: column;


}

#aboutme1head {
    text-align: center;
    /* margin-top: 20px; */
    margin-bottom: 20px;
    padding-bottom: 10px;
    font-weight: bold;
    border-bottom: solid var(--gold-color) 2px;
    color: var(--gold-color);
    font-size: 2em;
}

#details h1 {
    font-weight: bold;
    border-bottom: solid var(--gold-color) 1px;
    color: var(--gold-color);
    font-size: 3em;




}
#details div
{
    border: solid 2px red;
    padding: 20px;
}
#details h2{
    font-weight: bold;
    border-bottom: solid var(--gold-color) 1px;
    color: var(--gold-color);
}

.details1 {
  
    width: 60vw;
    color: white;

}

.languages,
.hobbies {
   
    width: 60vw;
    color: white;
    /* background-color: aliceblue; */

}
