
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600&display=swap');
* {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
  

    /* ==========================================heading */
}
header h1{
    padding:0.2em 0px 0.8em 35px;
    height: 2vh;
    width: 100%;
    background-color: blue;
    color: aliceblue;
    text-align: left;
}
header nav{
    padding:0.2em 0px 0.0em 10px;
    color: aliceblue;
    background-color: rgb(5, 5, 73);
    height: 5vh;
}
header nav ul li{
    display: inline;
    padding: 5px;
    padding-left: 20px;
    text-decoration: none;
    list-style: none;
    font-size: 1.5em;
}
header nav ul li a{
    text-decoration: none;
    color: gold;
}


/* ==========================================main */
.title
{
    margin:10px 80px 0px 80px;
    padding: 10px;
    background-color: rgb(52, 100, 142);
    color: rgb(245, 245, 253);
    font-size: 1.5em;
    font-weight: bold;
}
.imgview,video{
margin-top: 10px;
    
    
}