
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600&display=swap');


* {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
}
  

    /* ==========================================heading */
  header .nav1 {

    padding: 10px;
    background-color: rgb(21, 0, 255);
    color: aliceblue;
    height: 4vh;
    display: flex;
    justify-content: space-between;
    
}
header div a
{
    text-decoration: none;
    color: aliceblue;
    font-size: 1em;

}
header .nav2 {


    padding: 10px;
    color: aliceblue;
    list-style: none;
    display: flex;
    column-gap: 20px;
    background-color: rgb(11, 5, 97);
    

}

header ul a
{
    text-decoration: none;
    color: gold;
    font-size: 1.5em;
}
