@media (min-width: 1200px) 
{
    .hbtn:hover {
    
        width: 230px;
        padding: 5px;
    
        background:
            linear-gradient(rgba(16, 35, 242, 0.707), transparent),
            linear-gradient(to top left, rgb(5, 0, 155), transparent),
            linear-gradient(to top right, rgb(0, 0, 0), transparent);   
    }

}

@media (max-width: 1080px) {
    body {
        display: block;
    }

    .head1 {
        background-color: black;
        height: 10vh;
        width: 100%;

        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
    }
    #first
    {
        display: none;

    }
    .head1 li a
    {
        color: var(--gold-color);
        font-size: 1em;
        font-weight: bold;
    }
    .head1 li {
        list-style: none;
        background-color: rgb(209, 37, 37);
        width: auto;
        padding: 0px;
        text-align: center;
        border-radius: 0px;
        background: none;
      
        

    }

    .body1 {
        background-color: rgb(226, 43, 43);
        height: 90vh;
        width: 100%;
    }

    .A {
       
        height: 90vh;
        width: 100%;
    
    }
}


@media (max-width: 850px)
{
    img
    {
        width: 150px;
    }

    #two
    {
        width: 150px;
    }

    #one
    {
        width: 50vw;
        line-height: 25px;
        font-weight: bold;
        font-size: 1em;
    }
    #one p
{
    line-height: 18px;
    font-weight: bold;
    font-size: 0.8em;
    color: aqua;
}
.skillbox
{
    
    width: 90vw;
    
}
#technicalSkill h1 {
    font-weight: bold;
    border-bottom: solid var(--gold-color) 2px;
    color: var(--gold-color);
    font-size: 1.2em;
   
  
}
#technicalSkill h3 {
    font-weight: bold;
    color: var(--gold-color);
    font-size: 0.7em;
   
  
}
#technicalSkill span {
    
    font-size: 0.9rem;
    color: var(--white-color);
    line-height: 50px;
    padding: 5px;
   
}
.grid
{
    
    gap: 10px;
}
.grid section
{
  
    height: auto;
    width: 300px;
    
    padding: 10px;
    
    line-height: 20px;
    
}
#education h1 {
    font-weight: bold;
    border-bottom: solid var(--gold-color) 2px;
    color: var(--gold-color);
    font-size: 2em;
   
  
}
.grid span
{
    color:var(--gold-color);
    font-size: 20px;
}

#education h2,h4
{
    font-size: 0.7em;
}

#certification
{
    
    font-size: 1rem;
    line-height: 2em;
}
#certification div
{
    padding: 20px;
}
#careerSkills h1{
   
    padding: 10px;
    font-weight: bold;
    
    font-size: 2em;
}
#careerSkills ul {
   
    
   
    line-height: 2em;
   
   
    font-size: 1.4em;
   

}

#details
{
   
    background-color:var(--main-color);
    height: 100vh;
    width: 100%;
    /* border: solid 2px red; */
    justify-content: center;
    align-items: center;
    color: var(--gold-color);
    line-height: 30px;
    
  
}
#aboutme1head
{
    text-align: center;
    /* margin-top: 20px; */
    margin-bottom: 20px;
    padding-bottom: 10px;
    font-weight: bold;
    border-bottom: solid var(--gold-color) 2px;
    color: var(--gold-color);
    font-size: 2em;
}

#details h1{
    font-weight: bold;
    border-bottom: solid var(--gold-color) 1px;
    color: var(--gold-color);
    font-size: 1.5em;
    
    
   

}
.details1
{
    margin: 10px 0px 0px 10px;
    padding: 10px;
    width: 100vw;
    color: white;
    
}
.languages,.hobbies
{
    margin: -20px 0px 0px 10px;
    padding: 15px 0px 0px 10px;
    width: 90vw;
    color: white;
    /* background-color: aliceblue; */
    
}




}

