@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600&display=swap');

:root {
    --main-color:black; /* define a variable named --main-color and set its value to red */
    --gold-color:gold;
    --white-color:white;
  }

* {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
}

*::-webkit-scrollbar {
    display: none;
}

/* =======================================================================================main btn */
.main_btn {
    position: fixed;
    background-color: var(--main-color);
    height: 100vh;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

}

.main_btn ul {
    padding: 10px;
}

.main_btn ul li {
    list-style: none;
    margin: 20px;
    padding: 5px 5px;
    border: solid;
    border-radius: 20px;
    background:
        linear-gradient(rgba(6, 89, 85, 0.507), transparent),
        linear-gradient(to top left, rgb(33, 5, 110), transparent),
        linear-gradient(to top right, rgb(163, 12, 148), transparent);
    font-weight: bold;
    /* border: solid gold 0px; */
    width: 15vw;
    font-size: 1em;
}

.main_btn ul li a {
    text-decoration: none;
    text-decoration: none;
    color: var(--gold-color);
    display: block;
    font-weight: bolder;
    font-size: 1.5em;
}

/* =======================================================================================about me */

.aboutme {
    margin-left: 20%;
    background-color:var(--main-color);
    height: 100vh;
    width: 80%;
    /* border: solid 2px red; */
    display: flex;
    justify-content: center;
    align-items: center;
}


img {
    width: 250px;
}

#A {
    width: 30vw;
    height: 30vh;
    line-height: 40px;
    font-weight: bolder;
    font-size: 1.5em;
    color: var(--white-color);

}

#A p {
    line-height: 25px;
    font-weight: bold;
    font-size: 0.6em;
    color: aqua;
}

#aboutme_btn {
    margin-top: 10px;
    margin-left: -10px;
    padding: 10px;
    border-radius: 50px;
    width: 150px;
    background:
        linear-gradient(rgb(248, 236, 4), transparent),
        linear-gradient(to top left, rgb(0, 126, 2), transparent),
        linear-gradient(to top right, green, transparent);
    border: 0;

}

/* =======================================================================================project */
.project {
    margin-left: 20%;
    background-color: var(--main-color);
    height: 100vh;
    width: 80%;
    /* border: solid 1px red; */
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 10px;

}

.project h1{
    color: var(--gold-color);
    border-bottom: solid 2px var(--gold-color);
    font-size: 3em;
}

.carddisplay {
    /* background-color: var(--main-color); */
    background-color:  var(--main-color);
    height: 100vh;
    width: 80%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    /* justify-content: center; */
    overflow-y: scroll;

}

.A {
    margin: 10px;
    height: 300px;
    width: 220px;
    background-color: black;
    border: solid 1px gold;
    border-radius: 20px;

}

.cardimg {
    width: 215px;
    height: 195px;
    border-radius: 20px;

}

.cardbtn {
    margin: 10px;

    padding: 5px;
    border-radius: 20px;
    width: 100px;
    background:
        linear-gradient(rgb(248, 236, 4), transparent),
        linear-gradient(to top left, rgb(0, 126, 2), transparent),
        linear-gradient(to top right, green, transparent);
    float: left;
    border: solid black 0px;
    font-weight: bold;
}

a {

    text-decoration: none;

}

.A h3 {
    margin: 10px;
    color: yellowgreen;
    line-height: normal;
    letter-spacing: normal;
    font-size: 0.9em;
    text-align: left;
}

.A p {
    margin: 10px;
    color: aqua;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
}
/* ===========================================technical skills */
.technical
{
    margin-left: 20%;
    background-color:var(--main-color);
    height: 100vh;
    width: 80%;
    /* border: solid 2px red; */
    /* text-align: center; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    row-gap: 50px;


}
.technical h1{
    color:var(--gold-color);
    border-bottom: solid 2px var(--gold-color);
    font-size: 2em;
    
}
.technical .skillbox
{
    width: 80%;
  
 
    
}
.technical h1 {
    font-weight: bold;
    border-bottom: solidvar(--gold-color) 2px;
    color: var(--gold-color);
    font-size: 3em;
   
  
}
.technical h3 {
    font-weight: bold;
    color: var(--gold-color);
    font-size: 1.5em;
   
  
}
.technical span {
    
    font-size: 1.4rem;
    color: var(--white-color);
    line-height: 55px;
    margin-right: 30px;
}
/* ==================================================================================education  */
.education
{
    margin-left: 20%;
    background-color: var(--main-color);
    height: 100vh;
    width: 80%;
    /* border: solid 2px red; */
    /* text-align: center; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* row-gap: 20px; */
    


}
.education h1 {
    font-weight: bold;
    border-bottom: solid var(--gold-color) 2px;
    color: var(--gold-color);
    font-size: 3em;
   
  
}
.education .grid
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  
    color: var(--white-color);
    overflow: scroll;


}
.grid span
{
    color:var(--gold-color);
    font-size: 30px;
}

#kodnest, #graduation, #puc , #sslc
{

    height: 200px;
    width: 350px;
    margin:20px 85px;
    padding: 20px;
    border-left: solid var(--gold-color) 3px;
    line-height: 35px;
    
   
}
/* =======================================================certification */
.certification
{
    margin-left: 20%;
    background-color:var(--main-color);
    height: 100vh;
    width: 80%;
    /* border: solid 2px red; */
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--gold-color);
    font-size: 2rem;
    line-height: 2em;
    flex-direction: column;
}
.certification h1{
    color: var(--gold-color);
    
}
.certification p{
    color: var(--white-color);
}

#kodnestlink
{
    text-decoration: none;
    background:
    linear-gradient(rgb(45, 41, 41), transparent),
    linear-gradient(to top left, rgb(16, 3, 91), transparent),
    linear-gradient(to top right, rgb(249, 20, 20), transparent);
    padding: 5px;
    border-radius: 50px;
    color: var(--gold-color);
    font-weight: bold;
    font-size: 20px;
    border: solid gold 1px;

}

/* =====================================================career skill */
.careerskill
{
    margin-left: 20%;
    background-color: var(--main-color);
    height: 100vh;
    width: 80%;
    /* border: solid 2px red; */
    justify-content: center;
    color: var(--gold-color);

    line-height: 2em;
}
.careerskill h1{
    text-align: center;
    padding: 20px;
    font-weight: bold;
    border-bottom: solid var(--gold-color) 2px;
    color: var(--gold-color);
    font-size: 3em;
}
.careerskill ul {
    margin: 10px 0px 0px 80px;
    padding-left: 30px;
    padding-top: 20px;
    line-height: 2em;
    height: 75vh;
    justify-content: center;
    font-size: 2em;
    color: var(--white-color);

}

/* ===================================details */
.details
{
    margin-left: 20%;
    background-color:var(--main-color);
    height: 100vh;
    width: 80%;
    /* border: solid 2px red; */
    justify-content: center;
    align-items: center;
    color: var(--gold-color);
    line-height: 30px;
    
  
}
#aboutme1head
{
    text-align: center;
    /* margin-top: 20px; */
    margin-bottom: 20px;
    padding-bottom: 10px;
    font-weight: bold;
    border-bottom: solid var(--gold-color) 2px;
    color: var(--gold-color);
    font-size: 2em;
}

.details h1{
    font-weight: bold;
    border-bottom: solid var(--gold-color) 1px;
    color: var(--gold-color);
    font-size: 1.5em;
    
    
   

}
.details1
{
    margin: 10px 0px 0px 100px;
    padding: 10px;
    width: 30vw;
    color: white;
    
}
.languages,.hobbies
{
    margin: -20px 0px 0px 100px;
    padding: 30px 0px 0px 10px;
    width: 30vw;
    color: white;
    /* background-color: aliceblue; */
    
}



